a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.App {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.modalStyle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 25px;
    z-index: 1000;
    width: 600px;
}

.modalOverlayStyle {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1000;
}

.footer {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}